<h2>新規登録</h2>
<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :name, "name" %>
  <%= f.text_field :name %>
  <%= f.label :email, "email" %>
  <%= f.email_field :email %>
  <%= f.label :password, "password" %>
  <%= f.password_field :password %>
  <%= f.submit "送信" %>
<% end %>
