<% if flash[:notice] %>
  <h3 style="color: red;"><%= flash[:notice] %></h3>
<% end %>
<% if sign_in_user? %>
  <h1><%= current_user.name %></h1>
  <%= link_to "ログアウト", user_sign_out_url %>
<% else %>
  <h1>ゲスト</h1>
  <%= link_to "新規登録", user_new_url %>
  <%= link_to "ログイン", user_sign_in_url %>
<% end %>
