<%= render partial: "layouts/header" %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-layout-<%= message_type %>"><p><%= message %></p></div>
<% end %>
<div class="top">
  <div class="top-layouts">
    <div class="top-heading">
      <p>STUDYLOGをはじめよう！</p>
    </div>
    <div class="auth-buttons">
      <%= link_to "新規登録", user_new_url, class:"auth-button top-auth-button" %>
      <%= link_to "ログイン", user_sign_in_url, class: "auth-button top-auth-button" %>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>
